@media (max-width: 640px) { 
	#line {
	display: none !important;
	}
 }

 @media (max-width: 1024px) { 
	#line {
	height: 150px !important;
	}
 }

  @media (max-width: 1024px) { 
	.imgbox {
	height: 20em;
	}
 }

   @media (max-width: 640px) { 
	.imgbox {
	height: 30em;
	}
 }

 @media (max-width: 640px) { 
	#slider {
	width: 70% !important;
	margin-left: 5%;
	}
 }

  @media (max-width: 1024px) { 
	.buttonBox {
	width: 80% !important;
	}
 }

  @media (max-width: 640px) { 
	.buttonBox {
		display: block;
		display: inline-block;
		text-align: center;
		min-width: 100%;
		height: 260px;
 		}
 }	

   @media (max-width: 640px) { 
	.right {
		float: none;
 		}
}

   @media (max-width: 1024px) { 
	.birds {
	display: none !important;
 }

}
    @media (max-width: 1024px) { 
	.video {
	width: 85%;
 }
}


    @media (max-width: 640px) { 
	.video {
	margin-top: 0px !important;
	width: 100%;
 }
}


   @media (max-width: 640px) { 
	.footerimg {
		height: 15em;
 		}
}

   @media (max-width: 640px) { 
	.social {
		height: 50px;
 		}
}

   @media (max-width: 640px) { 
	.facebook {
		margin-right: -25px;
 		}
}

   @media (max-width: 640px) { 
	.twitter {
		margin-right: 80px;
 		}
}

/*slick slider fixes*/

   @media (max-width: 640px) { 
	.arrowBox {
		display: none;
 		}
}

   @media (min-width: 1250px) { 
	.arrowBox {
		top: 35%;
 		}
}